*
{
    margin:0px;
    padding:0px;
    font-family: Montserrat;
    box-sizing: border-box;
}
body
{
    position:relative;
    overflow-x:hidden;
}

.navbar,
.navbar-expand-md
{
    background-color:#121E32;
    position:fixed !important;
    width:100%;
    z-index: 999;
    
}

.navbar-text,
.nav-link
{
 color:white !important;
    
font-style: normal;
font-weight: lighter;
font-size: 1rem;
line-height: 15px;
}

.navbar-arrow
{
    font-size:1.3rem;
}
.active
{
    color:#ffb444 !important 
}
.navbar-text:hover
{
    color:#ffb444 !important;
}
.header-image
{
    background-image: url("../images/head-new.png");
    height:100vh;
    width:100%;
    position: relative;
    margin-top:30px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.search-button
{
    position:absolute;
    width: 132.5px;
height: 33px;
left: 796.5px;
border: 1px solid #FFB444;
box-sizing: border-box;
border-radius: 50px;
top: 266px;
color:#FFB444;
background:transparent;
}
.search-button:hover
{
    color:white;
    background:#ffb444;
}
.organise-button
{
    position:absolute;
    width: 132px;
height: 33px;
left: 797px;
border: 1px solid #FFB444;
background:transparent;
box-sizing: border-box;
border-radius: 50px;
top: 575.2px;
color:#FFB444;
}
.organise-button:hover
{
    color:white;
    background:#ffb444;
}
.heading-over-header,
.h1
{
    
    font-weight: bolder !important;
font-size: 3rem !important;
line-height: 59px;
color:#ffffff;
    position:absolute;
    transform:translate(105px,180px);
}

.heading-over-section-one
{
    position: absolute;
width: 216px;
height: 59px;
left: 135px;
top: 770px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

color: #FFB444;
}


.swiper-container {
    width: 80%;
    height: 100%;
    position: absolute;
    left:114px;
    top: 200px;
    overflow: hidden;
    
  }
  .swiper-slide 
  {
    
    text-align: center;
    font-size: 18px;
    height:507px;
    position:relative;
    background: #fff;
    margin:0px;
    /* Center slide text vertically */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.swiper-button-next, 
.swiper-button-prev
{
    position: absolute;
    top: 50%;
    /* width: calc(var(--swiper-navigation-size)/ 44 * 27); */
    /* height: var(--swiper-navigation-size); */
    margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: var(--swiper-navigation-color,var(--swiper-theme-color)); */
}

.swiper-button-prev:after,
.swiper-button-next:after
{
    display:none;
}
.right-arrow
{
    position:absolute;
    transform:translate(-35%,-20%);
}
.left-arrow
{
    position:absolute;
    transform:translate(-40%,-20%);
}
  
  .overlay-over-image
  {
      position:absolute;
      height:507px;
      width:300px;
      text-align: center;
    background:linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, #1D1D1D 100%);
  }
  .overlay-over-image h1
  {
    margin-top:300px;
    font-weight: bold;
font-size: 30px;
white-space: pre;
color: #FFFFFF;
  }
  .overlay-over-image p
  {
    color:#ffffff;      
}
    .overlay-over-image button
    {
        width: 180px;
height: 34px;
color:white;
border:1px solid white;
border-radius:50px;
background:transparent;
    }
    .overlay-over-image button:hover
    {
        color:#ffb444;
        border-color:#ffb444;
    }
.heading-over-section-two
{
    position: absolute;
width: 183px;
height: 59px;
left: 117px;
top: 1450px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;

color: #FFB444;

}
.container
  {
    overflow: hidden;
      margin-top:380px;
      color:white;
      width:80%;
      margin-left:100px;
      margin-right:100px;
      
  }
.features-heading-one,
.features-heading-two,
.features-heading-three,
.features-heading-four
{
    color:black !important;
    font-size: 18px !important;
    white-space: pre;
    font-weight: 600;
    margin-left:10px;
    display:inline-block;
}

.lead
{
    color:black;
    font-weight: 500;
font-size: 18px !important;
}
.jumbotron
{
     width: 480px; 
     padding:30px !important;
     height: 300px;
     overflow: hidden;
    margin-right:0px;
    box-shadow: 0px 4px 20px rgba(145, 145, 145, 0.13);
    border-radius: 10px;
    background:white !important;
}
.btn,
.btn-primary,
.btn-lg
{
    width: 157px;
height: 35px;
margin-left:75px;
border-radius:50px !important;
}
.jumbotron p
{
    margin-left:75px;
}
.btn-one
{
  
font-style: normal;
font-weight: 500;
font-size: 14px !important;
text-align: center;
color:#3D92F6 !important;
border:1px solid #3D92F6 !important;
background:transparent !important;
}
.btn-one:hover
{
    background:#3D92F6 !important;
    color:white !important;
}
.btn-two
{
    font-style: normal;
    font-weight: 500;
    font-size: 14px !important;
    text-align: center; 
    color:#5E44FF !important;
border:1px solid #5E44FF!important;
background:transparent !important;
}
.btn-two:hover
{
    background:#5E44FF !important;
    color:white !important;
}
.btn-three
{
    font-style: normal;
font-weight: 500;
font-size: 14px !important;
text-align: center;
color: #4EE058 !important;
border:1px solid  #4EE058 !important;
background:transparent !important;
}
.btn-three:hover
{
    color:white !important;
    background:#4EE058 !important;
}
.btn-four
{
    font-style: normal;
font-weight: 500;
font-size: 14px !important;
text-align: center;
color:#FFB444 !important;
border:1px solid #FFB444!important;
background:transparent !important;
}
.btn-four:hover
{
    color:white !important;
    background:#ffb444 !important;
}
.heading-over-section-three
{
    position: absolute;
width: 125px;
height: 30px;
top: 2350px;
left:150px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #FFB444;
}
.bootstrap-card-container
{
    
    width: 100%;
    height: 100%;
    margin-left:0px;
    margin-top:-50px;
}
.card
{
    border:none !important;
    box-shadow: 0px 4px 20px rgba(145, 145, 145, 0.13);
}

.card-title
{
    font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: justify;
color: #121E32;
}
.card-text
{
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: justify;
color: #899AAC;
}
.card-button
{
    font-weight: 500 !important;
font-size: 18px !important;
margin-left:-58px;
text-align: center;
line-height:20px !important;
color: #FFB444 !important;
background:#ffffff !important;
border-color:#ffb444 !important;
width: 180px;
height: 34px;
}
.card-button:hover
{
    background:#ffb444 !important;
    color:white !important;
}
.heading-over-section-four
{
    position: absolute;
width: 435px;
height: 30px;
left: 114px;
top: 3050px;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #FFB444;
}

.carousel-control-prev-icon
{
    background-image:url("../images/arrow-left.png") !important;
    position:absolute;
    top:3250px !important;
    left:150px !important;
}
.carousel-control-next-icon
{
    background-image:url("../images/arrow-right.png") !important;
    position:absolute;
    top:3250px !important;
    right:180px !important;
}
.heading-over-section-five
{
    position: absolute;
width: 158px;
height: 30px;
left: 114px;
top: 3550px;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #FFB444;
}
.centered-form
{
	position: absolute;
width: 534px;
height: 455px;
left: 114px;
top: 600px;
background: #FFFFFF;
box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.05), -10px 4px 20px rgba(0, 0, 0, 0.05);
border-radius: 20px;
}

.contact-jumbotron
{
    left:100px;
}
.contact-jumbotron p
{
    font-weight: 300;
font-size: 12px;
line-height: 14px;
color: rgba(0, 0, 0, 0.7);

}

.contact-jumbotron h1
{
    font-style: normal;
    margin-left:70px;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #0E3660 ;
white-space: pre;
}

.footer-container
{
    position:absolute;
    top:4200px;
    width: 100%;
    padding:50px;
height: 414px;
overflow: hidden;
background:#121e32;
color:white !important;
}
.footer-jumbotron ul
{
    margin-top: 28px;
    margin-left:0px;
}
.footer-jumbotron ul li
{
    margin-bottom: 35px;
    color:white;
}
.footer-jumbotron ul li:hover
{
    color:#ffb444;
    
}
.column
{
    width:16.66%;
    float:left;
    overflow-x: hidden;
}
.footer-jumbotron p
{
    font-weight: 300;
    font-size: 18px;
    margin-left:10px;
    line-height: 14px;
}
