html,body
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Montserrat;
    overflow-x: hidden;
   background-size: cover;
   height: 100vh;
   width: 100%;
 
   background-attachment: fixed;
}
#loader
{
    height:100vh;
    width:100%;
    background:#121e32 url("../images/navbar-logo.png") no-repeat center;
    animation:preloader 1s ease infinite alternate;
    transition: all 0.5s ease ;
}

@keyframes preloader
{
    0%
    {
        transform: scale(1.2);
    }
    100%
    {
        transform: scale(1);
    }

}
.navbar,
.navbar-expand-lg,
.navbar-expand,
.sticky-top
{
    background:#121e32;
}
.nav-link,
.navbar-text
{
    color:#fff !important;
}
.nav-link:hover,
.navbar-link:hover
{
    color:#ffb444 !important;
}
/* Header Image Background*/

.flex-container
{
    width:100%;
    background-image:linear-gradient(#0009,rgba(0,0,0,0.5)), url("../images/header-image.png");
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-item
{
    min-height:200px;
    width:500px;
    z-index: 3;
    margin:0px;
}
.lead,
.display-4,
.srch-mun,
.org-mun,
.dummy-text,
.left-align-heading
{
    color:white !important;
}
.left-align-heading
{
    font-size:3rem;
    white-space: wrap;
}
.flex-item:nth-child(2)
{
    height:300px;
}
.inline-yellow-color
{
    font-size:3.5rem;
    color:#ffb444;
    font-weight: bolder;
}
.dummy-text
{
    font-size:18px;
    white-space: wrap;
}
.srch-mun,
.org-mun
{
    font-size:30px ;
}
.flex-item:nth-child(2n)
{
    margin-right:0rem;
    margin-left: 10rem !important;
    background:linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1));
border-radius: 20px;
}
.header-flex-btn
{
    width: 120px;
height: 35px;
color:#ffb444 !important;
border-radius:50px !important;
border:1px solid #ffb444 !important;
background:transparent !important;
line-height:22px !important;
}
.header-flex-btn:hover
{
    color:#121e32 !important;
    background:#ffb444 !important;
}
.lead
{
    font-size: 14px !important;
}

.open-on-toogle
{
    color:#121e32;
    background:#ffb444;
    display: none;
}

/********************Section 2 Upcoming MUn Conferences*****************/

.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background:transparent;
    position:relative;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .section-heading
  {
      color:#ffb444;
      font-size:2rem;
      font-weight:bold;
  }
  .overlay-swiper-image
  {
      position:absolute;
      height:507px;
      width:300px;
      background-image:linear-gradient(to bottom,rgba(255,255,255,0.2),#0009);
  }
  .prev-btn,
  .next-btn
  {
      color:#ffffff;
      height:55px;
      width:55px;
      margin-top:40px;
      background:#0009;
      padding:20px;
      border-radius:20px;
  }
  .text-over-image
  {
      position:absolute;
      text-align: left;
      margin-top:115px;
  }
  .display-6,
  .tagline-heading
  {
      color:white;
   }
   .btn-over-image
   {
     height:35px;
     width:180px;
     padding-left:12px;
     border-radius:50px;
     border:1px solid #fff;
     background:transparent;
     color:#fff;
   }
  .thumbnail-container
  {
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }
  .thumbnail-item
  {
      min-height:200px;
      width:500px;
      margin:20px;
      padding:40px;
      background: #FFFFFF;
      box-shadow: 0px 4px 20px rgba(145, 145, 145, 0.13);
      border-radius: 10px;
      border:none;
  }
   .btn-org
   {
    border-color:#3D92F6; 
    color:#3D92F6;
   }
   .btn-org:hover
   {
     color:white;
     background:#3D92F6;
   }
   .btn-part
   {
     color: #5E44FF;
     border-color: #5E44FF;
   }
   .btn-part:hover
   {
     color:#fff;
     background: #5E44FF;
   }
   .btn-grp
   {
     color:#4EE058;
     border-color:#4EE058;
   }
   .btn-grp:hover
   {
     color:#fff;
     background:#4EE058;
   }
   .btn-every
   {
     border-color:#ffb444;
     color:#ffb444;
   }
   .btn-every:hover
   {
     color:#fff;
     background:#ffb444;
   }
   .media-paragraph
   {
     color:#6a6a6a;
   }

   /***************************Section-4 Our Blogs************/
   .blue-overlay
   {
       position:absolute;
       right:0;
       width:70px;
       background:#121e32;
       color:white;
       height:16.1rem;
       display:flex;
       flex-direction:column;
       justify-content:space-between;
    }
    .fa-facebook,
    .fa-instagram
    {
      color:#ffb444;
    }
    .card-text
    {
      color: #899AAC;
      font-size:18px;
    }
    .card-title
    {
      font-size:18px;
     }
     .overlay-item p
     {
       font-size:10px;
       margin-bottom:10px;
     }
     .btn-card
     {
       border:1px solid #ffb444;
       background:transparent;
       color:#ffb444;
       width:150px;
       border-radius:50px;
     }
     .btn-card:hover
     {
       color:white;
       border-color:#ffb444;
       background:#ffb444;
     }
     /************Section-5 Reviews Slider***************/
     .carousel-inner
     {
       width:60%;
       margin-left:auto;
       margin-right:auto;
     }
     .carousel-item img
     {
         height:100%;
         width:100%;
     }
     .btn-prev,
     .btn-next
     {
       height:50px;
       width:50px;
       background:#0009;
      border-radius:20px;
     }
     .review-image
     {
         width:70%;
         height:100%;
     }
     .swiper-button-next,
      .swiper-button-prev
      {
        color:#3A81D2;
        
      }
/*******************Section-6 Contact us*************/
      .contact-container
      {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        width:100%;
      } 
      .contact-item
      {
        min-width:200px;
        min-height:200px;
        border:1px solid black;
        margin:25px;
      } 
      form {
        width: 90%;
        margin: 0 auto;
        color:#121e32;
        }
        
        .box {
        padding: 0.5rem;
        color:#121e32;
        color:#121e32;
        }
        
        label {
        display: inline;
        }
        
        input {
        display: inline-block;
        border-color: #121e32;
        border-radius:10px;
        width: 100%;
        padding: 1rem;
        }
        
/********************Responsive Designs*******************************/
@media only screen and (max-width:1251px)
{
    .flex-container
    {
        padding:0px;
    }
    .flex-item:nth-child(2n)
    {
        min-width:200px;
        min-height:200px;
        margin-left:5rem !important;
    }

}

@media only screen and (max-width:1085px)
{
    .flex-item:nth-child(2n)
    {
        min-width:200px;
        min-height:200px;
        margin-left:2rem !important;
    }
}


@media only screen and (max-width:1035px)
{
    
    .flex-item:nth-child(2n)
    {
        height:260px;
        width:300px;
        padding: 15px !important;
        padding-right:1rem !important;
        padding-bottom:1rem !important;
        margin-left:0rem !important;
    }
    .lead
    {
        font-size:12px !important;
    }
}
@media only screen and (max-width:805px)
{
    .flex-item:nth-child(1),
    .flex-item:nth-child(3)
    {
        width:380px;
        height:300px;
    }
    .flex-item:nth-child(2n)
    {
        height:300px !important ;
        width:280px !important;
        margin-top:1rem;
        padding:2rem !important;
        margin-left:5rem !important;
    }
    .lead
    {
        font-size:12px !important;
    }
    .srch-mun,
    .org-mun
    {
        font-size:1.5rem ;
    }
}
@media only screen and (max-width:745px)
{
    .flex-item:nth-child(2n)
    {
        height:300px !important ;
        width:300px !important;
        margin-top:1rem;
        margin-left:0rem !important;
    }
} 
@media only screen and (max-width:690px)
{
    .flex-item:nth-child(2n)
    {
        display:none;   
    }
    
    .flex-item:nth-child(1),
    .flex-item:nth-child(3)
    {
        width:100%;
      
    }
    .open-on-toogle
    {
        display: block;
        padding:20px;
        background:transparent;
    }
    .toogle-content
    {
        color:#121e32 !important;
    }
    .media
    {
       
        border-radius:20px;
        box-shadow: 0px 4px 20px rgba(145, 145, 145, 0.13);
        padding:20px;
    }
    .flex-item:nth-child(1)
    {
        padding-left:2rem !important;
    }
    .btn-prev,
     .btn-next
     {
       height:40px;
       width:40px;
       background:#0009;
      border-radius:10px;
     }
     
}
@media all and (min-width: 35rem) and (max-width: 60rem) {

    .box {
    float: left;
    width: 50%;
    }
    
    label {
    display: block;
    }
    
    #masthead {
    }
    }
    
    @media all and (min-width:60rem) {
    label {
    display: inline;
    width: 90px;
    float: left;
    }
    
    .box {
    width: 50%;
    float: left;
    }
    
    input {
    width: 50%;
    }
    
    #masthead {
    padding: 9rem;
    }
    }